.education-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .education-heading {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .education-item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .education-school {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .education-details {
    margin-bottom: 5px;
  }
  
  .education-dates {
    font-style: italic;
  }  
  .add-education-modal {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .add-education-modal h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .add-education-modal form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .add-education-modal form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .add-education-modal form button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    background-color: #0077b5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-education-modal form button:hover {
    background-color: #005183;
  }
  